*{margin: 0; padding: 0;}
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}
.logo {
    margin-left: 120px;
    margin-top: 50px;
}
.navegacao {
    display: inline;
}
#principal {
    text-align: center;
}
#principal li{
    display: inline-block;
    margin-left: 50px;
}
.menu {
    list-style: none;
    padding: 5px;
    margin-right: 5px;
}
.menu li {
    display: inline;
}
.menu li a {
    margin: auto;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    transition: transform .3s;
}
.menu li a:hover {
    color: #FF30AF;
    transform: scale(1.1)
}
.more {
    list-style: none;
    float: right;
    padding: 5px;
    margin-right: 5px;
}
.more li {
    float: left;
}
.more li a {
    margin: auto;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
    transition: transform .3s;
}
.more li a:hover {
    color: #FF30AF;
    transform: scale(1.1)
}
#redes {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
    list-style: none;
}
#redes li i {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    padding: 3px;
}
#redes li a {
    margin: auto;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    padding: 3px;
    display: flex;
    transition: transform .3s;
}
#redes li a:hover {
    transform: scale(1.1)
}
/* animation */
.menu {
    animation: fromTop .7s .2s backwards;
}
#redes {
    animation: fromRight .7s backwards;
}
@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(30px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}
